#repo {
  display: block;
  position: absolute;
  top: 0; right: 0; padding: 20px;
  text-decoration: none;
  background-color: #f1f3f9;
}



.App {
  text-align: center;
  padding: 50px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1 { font-size: 4em; line-height: 1; margin: 0 0 30px; font-weight: 500; color: #42e; }
h2 { font-size: 1.8em; margin-top: 0; margin-bottom: 30px; font-weight: 300;}
h3 { font-size: 1.4em; margin-top: 0px; font-weight: 500;}

a { color: #123; text-decoration: underline; }
a:visited { color: #123; }
a:hover { color: #42e; }

code { 
  font-family: "Menlo", "Consolas", "Monaco", monospace;
  display: inline-block; 
  font-size: 0.9em; 
  background: #F1F3FA;
  border: 1px solid #e2e6ef;
  padding: 0 5px;
}

p code, h5 code {
  font-size: 1em;
  color: #60636F;
  font-style: normal;
  font-size: 0.85em;
  
}


.App .top {
  padding: 20px 50px;
  max-width: 700px;
}

.App .row {
  display: flex;
  margin-bottom: 50px;
  flex-direction: row;
  flex-wrap: wrap;
}

.App .row > div {
  flex: 0 1 auto;
  padding: 50px;
  width: 100%;
  max-width: 600px;
  
  box-sizing: border-box;
  position: relative;
}

.App .pts_chart, .App .pts_anim, .App .pts-react {
  height: 400px;
}

button {
  padding: 10px;
  font-size: 1em;
}
